body {
  background-color: #222831;
  overflow-x: hidden;
  flex-direction: column;
  padding: 2em;
}

.head {
  font-family: sans-serif;
  color: #fff;
  width: 90%;
  display: block;
  padding: 2em;
  background-color: #232931;
  border-radius: 8px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: -2px -2px 8px 1px rgba(161, 161, 201, 0.2),
    2px 2px 8px rgba(0, 0, 0, 0.8);
}

.header {
  font-size: 28px;
  font-style: italic;
  display: flex;
  text-align: left;
  flex: 1 1;
  float: left;
}

.menu {
  width: 50%;
  text-align: right;
}

.menu ul {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 2em;
  padding: 1em 1.5em;
  border-radius: 5px;
  transition: background 0.2s ease;
  cursor: pointer;
}

.menu ul li.mobile {
  display: none;
}

.menu ul li > i {
  margin-right: 15px;
}

.menu ul li:hover,
.menu ul li:active {
  background-color: #f73859;
  box-shadow: 2px 2px 8px 1px rgba(74, 24, 2, 0.8),
    inset -1px -1px 5px 1px rgba(255, 255, 255, 0.2),
    inset 2px 2px 8px 1px rgba(74, 24, 2, 0.8);
}

.section {
  margin-top: 3em;
  padding: 1em 2em;
  width: 90%;
  border-radius: 18px;
}

.person {
  width: 45%;
}

.person img {
  width: 80%;
  animation: move 2.3s linear infinite;
  margin: 0 auto;
  display: block;
}

.content {
  width: 50%;
  color: #f1f1f1;
  text-align: left;
  font-family: cursive;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 680px) {
  .menu ul li {
    display: none;
    margin-right: 0;
  }
  .menu ul li.mobile {
    display: inline-block;
  }
  .menu ul li > i {
    margin-right: 0;
  }
  .section {
    flex-direction: column;
    align-items: center;
  }
  .person,
  .content {
    width: 100%;
    text-align: center;
  }
}
